@tailwind base;
@tailwind components;
@tailwind utilities;




.container{
  @apply  max-w-[1219px]  mx-auto;
}

.check{
  /* background:rgba(255,255,255,0.8); */
  background: linear-gradient(180deg, #FFFDFD 0%, rgba(255, 255, 255, 0.42) 100%);
}

.order{
  background: linear-gradient(180deg, #FFFDFD 6.6%, rgba(198,198,198,0.6) 100%);
  border: 3px solid #FFFDFD;
  border-image-source:linear-gradient(103.99deg,rgba(255,255,2550.9,1.75%),rgba(248,248,248,0.42),97.37%) ;
  color: #000;
}




